/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require bootstrap_and_overrides
*/


.main_content{
  width:1044px;
  margin: 0px auto 40px auto;
}

#prof_pic{
  float:left;
  margin: 0px 20px 20px 0px;
}
#user_info{
  
}